.git
.gitignore
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
data/olist_order_items_dataset.csv
data/olist_orders_dataset.csv
data/olist_customers_dataset.csv
data/olist_geolocation_dataset.csv
data/olist_order_payments_dataset.csv
data/olist_order_reviews_dataset.csv
data/olist_sellers_dataset.csv
